* {
  margin: 0;
  background: rgb(0, 9, 20);
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 1.05em;
}

.main_container {
  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: 5vh;
  height: 100vh;
  width: 100vw;
}

.main_block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  max-width: 900px;
  min-width: 900px;
  min-height: 60vh;
  padding: 2%;

  border: 15px dotted rgb(0, 46, 123);
}

.title {
  text-align: center;
  color: rgb(225, 225, 225);
  font-size: 2em;
  padding: 15px;
}

input {
  width: 100%;
  padding: 10px;

  background: rgb(225, 225, 225);
  border-radius: 5px;

  color: black;
}

button {
  background: rgb(0, 46, 123);

  width: 100%;
  padding: 10px;

  color: rgb(225, 225, 225);

  border: none;
  cursor: pointer;
}

button:hover {
  background: rgb(0, 80, 200);
}

h1,
h2,
h3,
li {
  color: rgb(4, 227, 255);
}

li {
  font-size: 0.7em;
}

hr {
  margin: 20px 0 20px 0;
}

.sessions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
